body {
    margin: 0;
    padding: 0;
    background-image: url('../img/pictures/paul-gilmore-KT3WlrL_bsg-unsplash.jpg');
    background-image: cover;
    background-attachment: fixed;
}
.dnone {
    display: none;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    & > div {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 15rem;
        height: 15rem;
        & > svg {
            width: 15rem;
            height: 15rem;
            animation: spin 1.5s linear infinite;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
        & > form {
        width: 50%;
        position: relative;
        @media(max-width: 600px) {
            width: 80%;
        }

        & > input {
            font-family: 'Patrick Hand';
            width: 100%;
            padding: .5rem;
            font-size: 1.2rem;
            border-radius: 25px;
            border: none;
        }

        & > button {
            top: 0rem;
            right: 0rem;
            position: absolute;
            background: none;
            border: none;
            :hover {
                cursor: pointer;
            }
            & > svg {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
}

.search-body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    &-container {
        width: 100%;
        padding-top: 2.5rem;
        &-today {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            @media(max-width: 900px) {
                flex-direction: column;
            }
            &-generalData {
                display: flex;
                flex-direction: column;
                width: 50%;
                font-family: 'Kalam';
                @media(max-width: 900px) {
                    width: 100%;
                }
                & >div {
                    padding: 1rem;
                    margin: .5rem;
                    color: white;
                }
                .icoAndTemp {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    & > svg {
                        width: 15rem;
                    }
                    & > div {
                        margin-left: 1rem;
                        font-size: 3rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }

                &-date {
                    font-size: 1.2rem;
                }
            }

            &-additionalData {
                width: 50%;
                overflow: hidden;
                border-radius: 25px;
                margin: .25rem;
                color: white;
                @media(max-width: 900px) {
                    width: 100%;
                    margin: 0;
                    border-radius: 25px;
                }

                & > div{
                    margin: 0% 0% .05% 0%;
                    background-color: rgba(0, 0, 0, 0.125);
                    // background-color: rgba(255, 255, 255, 0.125);
                    padding: 0rem;
                    width: 49.5%;
                    height: 49.5%;
                    @media(max-width: 900px) {
                        height: 10rem;
                    }
                    @media(max-width: 400px) {
                        width: 49%;
                    }
                    display: inline-block;
                    position: relative;

                    &>div {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        transform: translate(-50%, -50%);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-family: 'Kalam';
                        font-size: 1.2rem;
                        @media(max-width: 400px) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        &-next {
            width: 100%;
            text-align: center;
            &-day {
                font-family: 'Kalam';
                display: inline-block;
                background-color: rgba(255, 255, 255, 0.125);
                color: white;
                width: auto;
                border-radius: 15px;
                margin: 2.5rem;
                & > div {
                    width: 13rem;
                    margin: 1rem;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    font-size: 1.2rem;

                    & > svg {
                        width: 10rem;
                        height: 10rem;
                    }
                }
            }
        }
    }
}

.footer {
    color: white;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand';

    & > p {
        margin: 0rem;
        padding: .5rem;
    }
}

.attribution {
    width: 100%;
    text-align: center;
  }
    .attribution-element {
      display: inline-block;
      background-color: white;
      width: 15rem;
      height: 15rem;
      border-radius: 15px;
      margin: 1rem;
      padding: .5rem;
      text-align: center;}